/* 
What is CSS?
CSS is used to design a website. With CSS, you can change 
hings like the color, size, and spacing of HTML elements.

How CSS Works
CSS is written in a separate file from HTML.
You can apply CSS to HTML elements by specifying "where," "what," 
and "how" you want to change it.
In the example below, CSS is applied to an <h1> element (the "where") 
and its color (the "what") is changed to red (the "how").
The target HTML element is called the selector.

<h1> Progate </h1>

h1 {      // where (selector)
          what      how
          color:    red;
          ppty      value
}

In CSS, colors are specified by hexadecimal values like color: #ff0000;

CSS Comments
Just as you did in HTML, you can write comments in a CSS file.
In CSS, however, a comment should be surrounded by /* */

/*
Font Size
The size of a font can be set with the font-size property.
A common unit for setting the font-size is px (pixel).

<h1> This is h1 </h1>
<p> This is p</p>

h1 {     
          color:    red;
          font-size: 10px;
}

p {     
          color:    green;
          font-size: 40px;
}

Font Family
With the font-family property, you can specify the type of font.
You can do this by setting font-family: font name;.
If the font name contains a space, you need to surround it with double quotes.

h1 {     
          color:    red;
          font-size: 10px;

          font-family: serif;
}

p {     
          color:    green;
          font-size: 40px;

          font-family: "Avenir Next";
}

Variety of Fonts
When setting the font-family property, you can specify various font 
types such as "serif" and "sans-serif".


Background Colors
The background-color property allows you to change the background 
color. You can set the background color just like the color property.
In addition, if the same letter continues like #dddddd, it can be 
shortened to #ddd.

Width and Height
To change the width and height of an element, use the width 
property and height property, respectively. 

<h1> Ken the Ninja </h1>

<img src="https://progate.com/images/wanko.jpg" >

h1 {     
          width: 500px;
          height: 80px;
          background-color: #9de8ea;
}

img {
          width: 500px;
          height: 200px;
}

Applying CSS to
a certain element
When there are multiple <li> elements in your code, applying CSS 
like the image below would turn all the <li> elements red.
So, how do we change only one of the <li> elements to red?

 <ul>
          <li>HTML</li>
          <li>PHP</li>
          <li>Ruby</li>
</ul>

li {
          color: red;         // all d li elemts av turned red
}

Labeling Tags
You can achieve this by labeling elements using the class attribute.
By adding a class to an HTML tag, you can differentiate each element 
and apply different CSS.
When applying CSS to a class selector, note that a period . is required 
in front of the class name.

 <ul>
          <li class="selected">HTML</li>
          <li>PHP</li>
          <li>Ruby</li>
</ul>

.selected {
          color: red;         // only d elemts with a class has turned red
}


Applying CSS to Multiple Tags
If you assign the same class name to multiple HTML elements, the same 
CSS applies to all of them.

<ul>
          <li class="selected">HTML</li>
          <li class="selected">PHP</li>
          <li>Ruby</li>
</ul>

.selected {
          color: red;         // only d elemts with class has turned red
}

Note that CSS class selectors start with a period, but tags do not.









#Progate @progateEN @dev_careers #dev_careers
*/


